<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Web Scraper</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>  
  <body>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a href="/admin" class="navbar-brand">Event Seeker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="mailto:info@gloriousrecovery.org" class="nav-link">Contact Us</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Request Event</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Filter And Change Display Section -->
    <div class="container bg-dark my-3 p-3">
      <div class="row">
        <!-- Filter -->
        <div class="col-8 text-white">
          <div class="container">
            <div class="row">
              <h3 class="col-12">Filter: </h3>
            </div>
            <!-- Filter week -->
            <form class="row" id="filter-time">
              <div class="col-12 my-2">
                <select name="filter-week " id="filter-week" class="form-select">
                  <option value="all">All Time</option>
                  <option value="thisWeek">This Week</option>
                  <option value="nextWeek">Next Week</option>
                </select>
              </div>
            </form>
            <!-- Filter Organization -->
            <form class="row" id="filter-organization">
              <div class="col-12 my-2">
                <select name="filter-organization " id="filter-organization-name" class="form-select">
                  <option value="all">All Organization</option>
                </select>
              </div>
            </form>
            <!-- Filter Category -->
            <form class="row" id="filter-category">
              <div class="col-12 my-2">
                <select name="filter-week " id="filter-category-name" class="form-select">
                  <option value="all">All Category</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        <!-- Change Display -->
        <div class="col-4 text-white">
          <div class="container">
            <div class="row">
              <h3 class="col-12">Display: </h3>
            </div>
            <form class="row" id="display-section">
              <!-- Rounded switch -->
              <label class="switch mx-3">
                  <input type="checkbox">
                  <span class="slider round"></span>
              </label>
            </form>
          </div>
        </div>
        <!-- End Change Display Section -->
      </div>
    </div>

    <!-- Check if any event exist -->
    <% if(listOfEvents.length === 0) { %>
      <h1>no events, try again later</h1>
    <% } %>


    <!-- Event Container -->
    <div id="list-container" class="container p-3 rounded my-3">
      <div class="row justify-content-center">
        <% for (let i = 0; i < listOfEvents.length; i++) { %>
          <div class="container card shadow my-3">
            <div class="row">
              <!-- Img/Category -->
              <div class="col-12 col-sm-4 my-2">
                <!-- Category -->
                <div class="mb-1">
                  <% for (let c = 0; c < listOfEvents[i].category.length; c++) { %>
                    <button class="text-light bg-dark border rounded p-1 category-btn">
                      <%= listOfEvents[i].category[c] %>
                    </button>
                  <% } %>
                </div>
                <!-- Image -->
                <img class="img-fluid w-100 rounded" src="<%= listOfEvents[i].image %>" alt="Image" />
              </div>
              <!-- Content -->
              <div class="col-12 col-sm-8 my-2 d-flex flex-column pt-4">
                <!-- Tickets -->
                <% if(listOfEvents[i].ticket) { %>
                  <a href="<%= listOfEvents[i].linkToOriginalPost %>" class="text-decoration-none" >
                    <h5 class="text-dark bg-warning">Tickets available here (original page)</h5>
                  </a>
                <% } %>
                <!-- Time -->
                <h4 class="text-danger"><%= listOfEvents[i].detailDateTime %></h4>
                <!-- Title -->
                <h3 class="fw-bold">
                  <a href="<%= listOfEvents[i].linkToOriginalPost %>" class="link-to-original-post" >
                    <%= listOfEvents[i].title %>
                  </a>
                </h3>
                <!-- Location -->
                <h4><%= listOfEvents[i].address %></h4>
                <!-- Button Container -->
                <div class="button-container mt-auto">
                  <!-- Expand Button -->
                  <div class="event-btn">
                    <button class="button border rounded bg-primary text-light m-1 px-3 fit-btn" onclick="expandEvent(<%= i %>)">
                      <i class="bi bi-arrows-expand"></i> Expand
                    </button>
                  </div>
                  <!-- Share Button -->
                  <div class="btn-group event-btn">
                    <button type="button" class="btn btn-primary dropdown-toggle fit-btn" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-share-fill"></i> Share
                    </button>
                    <ul class="dropdown-menu share-dropdown shadow-lg">
                      <li><a href="https://www.facebook.com/sharer.php?u=<%= listOfEvents[i].linkToOriginalPost %>" target="_blank" class="facebook-btn"><i class="bi bi-facebook"></i></a></li>
                      <li><a href="https://twitter.com/share?url=<%= listOfEvents[i].linkToOriginalPost %>&text=<%= listOfEvents[i].title %>: " target="_blank" class="twitter-btn"><i class="bi bi-twitter"></i></a></li>
                      <li><a onclick="copyToClipboard('<%= listOfEvents[i].linkToOriginalPost %>')" class="clipboard-url"><i class="bi bi-clipboard"></i></a></li>
                    </ul>
                  </div>
                </div>
                <!-- End Button Container -->
              </div>
            </div>
            <!-- Extra Info -->
            <div class="row align-items-center extra-info" style="display:none;">
              <!-- Organization -->
              <h5 class="organization-name">
                Organization: 
                <% for (let j = 0; j < listOfEvents[i].organizationInfo.length; j++) { %>
                  <a href="<%= listOfEvents[i].organizationInfo[j].link %>" class="organization-link" >
                    <%= listOfEvents[i].organizationInfo[j].name %>
                  </a>, 
                <% } %>
              </h5>
              <!-- Description -->
              <p>Description: <%= listOfEvents[i].description %></p>
            </div>
            <!-- End Extra Info -->
          </div>
        <% } %>
      </div>
    </div>


    <!-- Footer -->

    <!-- Bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Scripts -->
    <%- include ('scripts/client.ejs') %>
    <%- include ('scripts/renderListContainer.ejs') %>
    <%- include ('scripts/filters.ejs') %>

    <script>
      // Expand button for each event in list
      function expandEvent(index) {
        let extraInfo = document.querySelectorAll(".extra-info");
        $(extraInfo[index]).toggle();
      }

      // Share button for copy to clipboard
      function copyToClipboard(url) {
        navigator.clipboard.writeText(url).then(function() {
          /* clipboard successfully set */
          alert("link to original post copied clipboard: \n" + url);
        }, function() {
          /* clipboard write failed */
          alert("failed to copy url");
        });
      }
      // var $copiedElement = $("<span>");
      // $copiedElement.addClass('copied').text('copied!');
      // $('.copyto-clipboard').append($copiedElement);
      // $copiedElement.fadeIn(100);
      // $copiedElement.fadeOut(5000);

      // Display 
      let isToggling = false;
      $("#display-section").change(() => {
        if (isToggling) return;
        isToggling = true;
        // setTimeout()
        console.log("toggled")
      })


      
    </script>
  </body>
</html>
